.page{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;  
    width: 100%;
    margin: 0;
    background-color: white;
    font-size: 16px;

        .page__line{
           width: 1110px; 
           margin: 0 auto;
           margin-top: 0px;
        }
        .header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
        }
        .header__logo{
            float: left;
            margin-top: 17px;
        }
        .header__menu{
            flex-grow: 1;
            margin-top: 33px;
            margin-left: 198px;
        }
        .header__menu ul{
            display: flex;
            flex-flow: row nowrap;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 18px;
            list-style: none;   
        }
        .header__menu li{
            margin-right: 20px;  
        }
        .header__menu li:last-child{
            margin-right: 0;
        }
        .header_menu a,
        .header_menu .active{
            display: block;
            text-transform: uppercase;
        }
        .header__menu a{
            color: black;
            text-decoration: none;
        }

}
